<% layout('layouts/template') %>


    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Ventas Internas</h1>
        <p class="mb-4">Se refieren a las ventas que la empresa realiza en el mercado nacional de sus productos
            petrolíferos y
            petroquímicos. Estos productos incluyen gasolinas, diésel, combustóleo, gas licuado de petróleo (GLP),
            derivados del etano,
            derivados del metano, propileno y sus derivados, aromáticos y derivados y otros petroquímicos.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="card-header py-3 mx-auto">
                        <a href="/ventasinternas/nuevo"><button class="btn btn-success" type="submit">Agregar un nuevo
                                registro</button></a>
                    </div>
                    <% if(datos.length) {%>
                        <table class="table">
                            <thead class="table-success">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">ID Distribuidora</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Unidad</th>
                                    <th scope="col">Periodo</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Editar</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(ce of datos) {%>
                                    <tr>
                                        <th scope="row">
                                            <%= ce.id_vi %>
                                        </th>
                                        <td>
                                            <%= ce.id_distribuidora %>
                                        </td>
                                        <td>
                                            <%= ce.tipo %>
                                        </td>
                                        <td>
                                            <%= ce.unidad %>
                                        </td>
                                        <td>
                                            <%= ce.periodo %>
                                        </td>
                                        <td>
                                            <%= ce.valor %>
                                        </td>
                                        <td>
                                            <a href="ventasinternas/<%= ce.id_vi %>">
                                                <button class="btn btn-success" type="button">
                                                    <i class="bi bi-pen"></i>
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <form action="ventasinternas/<%= ce.id_vi %>?_method=DELETE" method="post">
                                                <button class="btn btn-danger" type="submit">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                        <% }else{ %>
                            <h3 class="text-center">No hay registros en este momento</h3>
                            <% } %>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <script src="/javascripts/quejasTable.js"></script>