<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIDAP</title>
    <%- include('../sources/bootstrapStyle')%>
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('../partials/sidebar')%>
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <%- include('../partials/navbar')%>
                <%- body %>
                <%- include('../partials/footer')%>
            </div>
        </div>
    </div>
    <%- include('../sources/bootstrapScript')%>
</body>

</html>