<% layout('layouts/template') %>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Distribuidoras</h1>
    <p class="mb-4">Son empresas privadas que se encargan de la distribución y venta de los productos petrolíferos de la empresa. 
        Estas empresas están autorizadas por Pemex para adquirir, almacenar y distribuir gasolina, diésel, gas LP, y otros 
        productos derivados del petróleo.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div class="card-header py-3 mx-auto">
                    <a href="/distribuidoras/nuevo"><button class="btn btn-success" type="submit">Agregar un nuevo registro</button></a>
                </div>
                <% if(datos.rows.length) {%>
                <table class="table">
                    <thead class="table-success">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">ID Estado</th>
                            <th scope="col">ID Pozo</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">CP</th>
                            <th scope="col">Magna</th>
                            <th scope="col">Premium</th>
                            <th scope="col">Diesel</th>
                            <th scope="col">DME</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(i = 0; i<datos.rows.length; i++) {%>
                        <tr>
                            <th scope="row"><%= datos.rows[i].id_distribuidora %></th>
                            <td><%= datos.rows[i].nombre %></td>
                            <td><%= datos.rows[i].id_pozo %></td>
                            <td><%= datos.rows[i].ubicacion %></td>
                            <td><%= datos.rows[i].cp %></td>
                            <td><%= productos.rows[i].magna === true ? 'Si' : 'No' %></td>
                            <td><%= productos.rows[i].premium  === true ? 'Si' : 'No' %></td>
                            <td><%= productos.rows[i].diesel === true ? 'Si' : 'No' %></td>
                            <td><%= productos.rows[i].dme  === true ? 'Si' : 'No'%></td>
                            <td>
                                <a href="distribuidoras/<%= datos.rows[i].id_distribuidora %>">
                                    <button class="btn btn-success" type="button">
                                        <i class="bi bi-pen"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <form action="/distribuidoras/<%= datos.rows[i].id_distribuidora %>?_method=DELETE" method="post">
                                    <button class="btn btn-danger" type="submit">
                                        <i class="bi bi-trash3"></i>
                                    </button>  
                                </form>                             
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% }else{ %>
                    <h3 class="text-center">No hay registros en este momento</h3>
                <% } %>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
