<% layout('layouts/template') %>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Distribuidoras</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div class="card-header py-3 mx-auto">
                    <a href="/distribuidoras/nuevo"><button class="btn btn-primary" type="submit">Agregar un nuevo registro</button></a>
                </div>
                <% if(datos.rows.length) {%>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">ID Estado</th>
                            <th scope="col">ID Pozo</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">CP</th>
                            <th scope="col">Magna</th>
                            <th scope="col">Premium</th>
                            <th scope="col">Diesel</th>
                            <th scope="col">DME</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(distribuidora of datos.rows) {%>
                        <tr>
                            <th scope="row"><%= distribuidora.id_distribuidora %></th>
                            <td><%= distribuidora.nombre %></td>
                            <td><%= distribuidora.id_pozo %></td>
                            <td><%= distribuidora.ubicacion %></td>
                            <td><%= distribuidora.cp %></td>
                            <td><%= productos.rows[0].magna %></td>
                            <td><%= productos.rows[0].premium %></td>
                            <td><%= productos.rows[0].diesel %></td>
                            <td><%= productos.rows[0].dme %></td>
                            <td>
                                <a href="distribuidoras/<%= distribuidora.id_distribuidora %>">
                                    <button class="btn btn-primary" type="button">
                                        <i class="bi bi-pen"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <form action="/distribuidoras/<%= distribuidora.id_distribuidora %>?_method=DELETE" method="post">
                                    <button class="btn btn-danger" type="submit">
                                        <i class="bi bi-trash3"></i>
                                    </button>  
                                </form>                             
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% }else{ %>
                    <h3 class="text-center">No hay registros en este momento</h3>
                <% } %>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
