<%- layout('layouts/template') %>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Comercio Exterior</h1>
    <p class="mb-4">Se refieren a las ventas que la empresa realiza en el mercado internacional 
        de sus productos petrolíferos y petroquímicos. Estos productos incluyen petróleo crudo, gasolinas, diésel, combustóleo, 
        gas licuado de petróleo (GLP), derivados del etano, derivados del metano, propileno y sus derivados</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <form action="/comercioexterior" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="ce">ID Comercio</label>
                        <% if(id.rows[0].max === null) {%>
                            <input class="form-control" type="number" id="ce"  value="1" name="ce" required disabled>
                            <input class="form-control" type="number" id="ce"  value="1" name="ce" required hidden>
                        <% } else { %>
                        <input class="form-control" type="number" id="ce"  value="<%= id.rows[0].max + 1 %>" name="ce" required disabled>
                        <input class="form-control" type="number" id="ce"  value="<%= id.rows[0].max + 1 %>" name="ce" required hidden>
                        <% } %>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="distribuidora">Distribuidoras</label>
                        <select class="form-select" aria-label="Default select example" name="distribuidora">
                            <option value="<%= distribuidoras.rows[0].id_distribuidora %>" selected><%= distribuidoras.rows[0].id_distribuidora %></option>
                            <% for(let i=2; i<= distribuidoras.rows.length; i++){ %>
                                    <option value="<%= distribuidoras.rows[i-1].id_distribuidora %>"><%= distribuidoras.rows[i-1].id_distribuidora %></option>
                            <% } %>
                          </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="tipo">Tipo</label>
                        <input class="form-control" type="text" id="tipo" name="tipo" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="unidad">Unidad</label>
                        <input class="form-control" type="text" id="unidad" name="unidad" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="periodo">Periodo</label>
                        <input class="form-control" type="date" id="periodo" name="periodo" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="movimiento">Movimiento</label>
                        <input class="form-control" type="text" id="movimiento" name="movimiento" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="valor">Valor</label>
                        <input class="form-control" type="number" id="valor" name="valor" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-info">Registrar CE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
